.navbar {
  background-color: #000; /*Fondo negro*/
color: #fff;            /*Texto blanco*/
padding: 0 16px;
}

.navbar-title a{
  font-size: 18px;
  font-weight: 500;
}

.spacer {
  flex: 1 1 auto;
}

.navbar-links a {
  color: #fff;
  margin-left: 16px;
  text-transform: none;
}
