.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.tabs button {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 8px;
  background: white;
  cursor: pointer;
}
.tabs .active {
  background: black;
  color: white;
}

.grid {
  display: flex;
  gap: 2rem;
}

.inventory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  flex: 1;
}
.card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 12px;
  cursor: pointer;
}
.card img {
  width: 100%;
  border-radius: 8px;
}
.old-price {
  text-decoration: line-through;
  color: gray;
}
.discount {
  color: red;
  margin-left: 0.5rem;
}
.price {
  font-weight: bold;
}

.detail {
  flex: 0 0 350px;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 12px;
}
.detail img {
  width: 100%;
}
.price-detail {
  font-size: 1.5rem;
  font-weight: bold;
}

.tabs {
    padding:  10px 30px;
}

.grid {
    padding: 0px 30px 30px 30px;
}

.inventory {
    grid-template-columns: repeat(5, 1fr) !important;
}

.card img {
    max-width: 300px;
    max-height: 350px;
    min-height: 350px;
    object-fit: cover;
}

.card {
    max-height: fit-content;
}

h3 {
    font-size: 18px;
}

.detail h2 {
    margin-top: 20px;
}

.detail p:nth-child(3) {
    margin: 0 !important;
}

button.locate {
    border: solid 1px blacl;
    border-radius: 20px;
    width: 125px;
    margin-top: 10px;
    color: white;
    background-color: black;
}

.card h3{
    margin-top: 20px;
}

p.price {
  font-size: 30px;
  margin: 0;
}
