<div class="tabs">
  <button
    (click)="resetStoreFilter()"
    [class.active]="selectedStoreId() === null">
    Todos
  </button>
  <button *ngFor="let store of stores()"
          (click)="selectStore(store.id)"
          [class.active]="store.id === selectedStoreId()">
    {{ store.name }}
  </button>
</div>

<div class="grid">
  <div class="inventory">
    <div class="card" *ngFor="let product of products()" (click)="selectProduct(product)">
      <img [src]="product.imageUrl" alt="">
      <h3>{{ product.name }}</h3>
      <p *ngIf="product.discount">
        <span class="old-price">${{ product.price + (product.price * discount(product) / 100) }}</span>
        <span class="discount">-{{ discount(product) }}%</span>
      </p>
      <p class="price">${{ product.price }}</p>
    </div>
  </div>

  <div class="detail" *ngIf="selectedProduct() as product">
    <img [src]="product.imageUrl" alt="">
    <h2>{{ product.name }}</h2>
    <p><strong>Color:</strong> {{ product.color }}</p>
    <p><strong>Size:</strong> {{ product.size}}</p>
    <p class="price-detail"><strong>Price:</strong> ${{ product.price }}</p>
    <button class="locate" (click)="goToLocation(product.id)">Locate</button>
  </div>
</div>
