.container {
  padding: 20px;
}
.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 20px;
}
input, select {
  padding: 8px;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
}
.product-card {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}
img {
  width: 100%;
  height: auto;
}
.discount {
  color: red;
  font-weight: bold;
}

.product-card {
    border-radius: 10px
}

.product-card img {
    max-height: 250px;
    min-height: 250px;
    object-fit: cover;
}

h3 {
    font-weight: 300;
    font-size: 18px;
    margin-top: 20px;
}

p {
    text-align: end;
    font-size: 20px;
    font-weight: 700;
}
